body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.conteiner {
    width: 990px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}